.altura-auto {
  width: 100%;
  height: 100%;
}

.c-thank-desk {
  display: flex;
  width: 100%;
  height: 100vh;
  /*padding-top: 150px;
  padding-bottom: 0px;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jpg/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 234px;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 0px;
  margin-right: 75%;
}

.c-thank-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-icon-check {
  width: 80px;
  max-width: 100%;
}

.c-thank-tittles {
  display: block;
  text-align: center;
}

.text-tittle-pri {
  margin-top: 0px;
  /*margin-bottom: 16px;*/
  font-family: "Open Sans", sans-serif;
  color: #105d39;
  line-height: 68px;
  font-weight: 700;
}

.text-tittle-sub {
  width: 650px;
  font-family: Roboto, sans-serif;
  color: #464646;
  line-height: 27px;
}

.c-button-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-text {
  color: #464646;
  line-height: 22px;
}

.button-text {
  margin-right: 5px;
  font-family: Roboto, sans-serif;
}

.btn-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  line-height: 19px;
  font-weight: 800;
  color: #2097BC;
}

.thank-line {
  width: 80%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(16, 93, 57, 0.31);
}

.button-thank-tittle {
  color: #464646;
  line-height: 46px;
}

.button-thank-tittle {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.btn-thank {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 201px;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  background-color: #fb5151;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
  line-height: 24px;
  text-decoration: none;
}

.btn-thank:hover {
  background-color: rgba(251, 81, 81, 0.8);
}

.btn-thank {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
}

.c-thank-footer-desk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5f9e93;
}

.thank-footer-tittle {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
}

.thank-footer-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
  max-width: 100%;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 489px) {
  .c-thank-desk {
    height: 100%;
    padding-top: 0px;
    background-image: url("../img/jpg/background-responsive.jpg");
    background-size: 100%;
  }

  .thank-footer-tittle {
    font-size: 18px;
  }

  .c-thank-cont {
    width: 100%;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: center;
  }

  .logo {
    margin-top: 8px;
  }

  .button-thank-tittle {
    line-height: 30px;
  }

  .c-icon-check {
    width: 46px;
    height: 46px;
  }

  .text-tittle-pri {
    line-height: 49px;
  }

  .text-tittle-pri {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 36px;
  }

  .text-tittle-sub {
    width: 330px;
    font-size: 20px;
  }

  .btn-link {
    font-size: 16px;
    font-weight: 700;
  }

  .thank-line {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-thank-tittle.fs34 {
    font-size: 22px;
  }

  .btn-thank:hover {
    background-color: rgba(251, 81, 81, 0.8);
  }

  .btn-thank.fs20 {
    margin-bottom: 0px;
  }

  .thank-footer-tittle {
    padding-bottom: 2px;
  }

  .c-thank-footer-desk {
    padding-top: 6px;
    padding-bottom: 25px;
  }

  .logo {
    width: 181px;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 490px) and (max-width: 800px) {
  .c-thank-desk {
    height: 680px;
    padding-top: 0px;
    background-image: url("../img/jpg/background-responsive.jpg");
    background-size: 100%;
  }

  .c-thank-cont {
    width: 100%;
    padding-top: 15px;
  }

  .c-icon-check {
    width: 46px;
    height: 46px;
  }

  .text-tittle-pri {
    line-height: 49px;
  }

  .text-tittle-pri {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 36px;
  }

  .text-tittle-sub {
    width: 330px;
    font-size: 20px;
  }

  .btn-link {
    font-size: 16px;
    font-weight: 700;
  }

  .thank-line {
    width: 90%;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .button-thank-tittle.fs34 {
    font-size: 22px;
  }

  .btn-thank:hover {
    background-color: rgba(251, 81, 81, 0.8);
  }

  .btn-thank.fs20 {
    margin-bottom: 26px;
  }

  .c-thank-footer-desk {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .logo {
    width: 181px;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/*# sourceMappingURL=thank-you-page.css.map */
